In [1]:
import pandas as pd
df = pd.read_csv('r6.2/http.csv',nrows = 26215272/2,delimiter = '\t+')

C:\Users\surya\AppData\Local\Temp\ipykernel_16424\2000180647.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('r6.2/http.csv',nrows = 26215272/2,delimiter = '\t+')

In [2]:
df

                                                 with Bob."
0         {L5F4-H8KG81QS-9212RZQA},02/02/2011 08:17:36,C...
1         {J4W0-Q6PG11PE-6950VBBK},02/02/2011 08:17:36,F...
2         {D9Z6-G4FS56LZ-2423GSZX},02/02/2011 08:17:36,F...
3         {M9Z0-D2RV05PC-8229CMYW},02/02/2011 08:17:36,G...
4         {Z3E3-H7UG19OB-7125ZRYS},02/02/2011 08:17:36,J...
...                                                     ...
13107631  {V4E8-O7BM41NT-6018YPEC},03/31/2011 11:26:35,C...
13107632  {D2A9-H7UJ47ZU-7318WYHA},03/31/2011 11:26:35,C...
13107633  {D8F2-D0GH17KJ-3225AWEO},03/31/2011 11:26:35,I...
13107634  {F8J0-H9TH72AN-2974IWPR},03/31/2011 11:26:35,L...
13107635  {M5A0-K3LS95GO-4108VBRI},03/31/2011 11:26:35,Q...

[13107636 rows x 1 columns]

In [3]:
data = []
for i in range(len(df)):
    data.append(df['with Bob."'].loc[i].split(sep=','))

In [4]:
for i in range(len(data)):
    y = data[i][5].replace('WWW ','')
    data[i] = data[i][1:5]
    data[i].append(y)

In [5]:
df = pd.DataFrame(data,columns=['date','user','pc','url','action'])

In [6]:
df

,date,user,pc,url,action
0,02/02/2011 08:17:36,CHM2081,PC-0544,http://addthis.com/Tarbosaurus/alioramus/1952_...,Visit
1,02/02/2011 08:17:36,FAH1566,PC-0541,http://businessinsider.com/Chariot_racing/carc...,Visit
2,02/02/2011 08:17:36,FAR2869,PC-7675,http://cars.com/Byzantine_Empire/trebizond/Pve...,Visit
3,02/02/2011 08:17:36,GTC0747,PC-0870,http://weather.gov/Courageous_class_battlecrui...,Visit
4,02/02/2011 08:17:36,JBW3852,PC-4957,http://networksolutions.com/Maximus_the_Confes...,Visit
...,...,...,...,...,...
13107631,03/31/2011 11:26:35,CRH3848,PC-9785,http://results-page.net/Iridium/osmium/Orynehf...,Visit
13107632,03/31/2011 11:26:35,CRL3842,PC-6200,http://redbox.com/Mary_II_of_England/sancroft/...,Visit
13107633,03/31/2011 11:26:35,IIW0036,PC-0487,http://citrixonline.com/Messiah_Handel/jennens...,Visit
13107634,03/31/2011 11:26:35,LKH2512,PC-6591,http://warriorforum.com/Nothing_to_My_Name/gai...,Visit
13107635,03/31/2011 11:26:35,QJA3887,PC-7582,http://qvc.com/Roberto_Luongo/melanson/1941_Sy...,Visit

In [7]:
from urllib.parse import urlparse, parse_qs
import re

def tokenize_url(url):
    # Parse the URL
    parsed_url = urlparse(url)
    
    # Tokenize domain
    domain_tokens = parsed_url.netloc.lower().split('.')
    
    # Tokenize path
    path_tokens = [token.lower() for token in parsed_url.path.split('/') if token]
    
    # Tokenize query parameters
    query_tokens = []
    if parsed_url.query:
        query_params = parse_qs(parsed_url.query)
        query_tokens = [f"{k.lower()}:{v[0].lower()}" for k, v in query_params.items()]
    
    # Combine all tokens
    all_tokens = domain_tokens + path_tokens + query_tokens
    
    # Remove special characters and filter out empty tokens
    cleaned_tokens = [re.sub(r'[^a-z0-9]', '', token) for token in all_tokens]
    cleaned_tokens = [token for token in cleaned_tokens if token]
    
    return cleaned_tokens

In [8]:
df['script'] = df['url'].apply(lambda x : x.split(sep = '.')[-1])

In [9]:
df = df.drop(['url'],axis=1)

In [10]:
df

                         date     user       pc action script
0         02/02/2011 08:17:36  CHM2081  PC-0544  Visit    asp
1         02/02/2011 08:17:36  FAH1566  PC-0541  Visit    htm
2         02/02/2011 08:17:36  FAR2869  PC-7675  Visit    asp
3         02/02/2011 08:17:36  GTC0747  PC-0870  Visit   aspx
4         02/02/2011 08:17:36  JBW3852  PC-4957  Visit    php
...                       ...      ...      ...    ...    ...
13107631  03/31/2011 11:26:35  CRH3848  PC-9785  Visit   html
13107632  03/31/2011 11:26:35  CRL3842  PC-6200  Visit    asp
13107633  03/31/2011 11:26:35  IIW0036  PC-0487  Visit    php
13107634  03/31/2011 11:26:35  LKH2512  PC-6591  Visit   aspx
13107635  03/31/2011 11:26:35  QJA3887  PC-7582  Visit   html

[13107636 rows x 5 columns]

Token Sequence = PC + action + flag

PC:  self , other or shared


action: download, upload or visit


flag: sus or safe  script

In [11]:
set(df['script'].values)

{'asp',
 'aspx',
 'doc',
 'exe',
 'htm',
 'html',
 'jpg',
 'jsp',
 'pdf',
 'php',
 'txt',
 'zip'}

In [12]:
def sus(x):
    if x in 'doc,pdf,zip,jsp,php'.split(sep=','):
        return 'sus'
    return 'saf'
df['flag'] = df['script'].apply(lambda x : sus(x))

In [13]:
import pickle

with open('assignments.pkl', 'rb') as f:
    self_dict = pickle.load(f)

In [14]:
with open('shared.pkl', 'rb') as f:
    share_dict = pickle.load(f)

In [15]:
import warnings
warnings.filterwarnings("ignore")
self = []
for i in df.index:
    if df['pc'][i] == self_dict[df['user'][i]]:
        self.append('self')
    elif df['pc'][i] in share_dict:
        self.append('shared')
    else:
        self.append('other')
df['pc'] = self

In [16]:
df['token'] = df['pc']+'_'+df['action']+'_'+df['flag']

In [17]:
df = df.drop(['pc','script','action','flag'],axis=1)
df

                         date     user           token
0         02/02/2011 08:17:36  CHM2081  self_Visit_saf
1         02/02/2011 08:17:36  FAH1566  self_Visit_saf
2         02/02/2011 08:17:36  FAR2869  self_Visit_saf
3         02/02/2011 08:17:36  GTC0747  self_Visit_saf
4         02/02/2011 08:17:36  JBW3852  self_Visit_sus
...                       ...      ...             ...
13107631  03/31/2011 11:26:35  CRH3848  self_Visit_saf
13107632  03/31/2011 11:26:35  CRL3842  self_Visit_saf
13107633  03/31/2011 11:26:35  IIW0036  self_Visit_sus
13107634  03/31/2011 11:26:35  LKH2512  self_Visit_saf
13107635  03/31/2011 11:26:35  QJA3887  self_Visit_saf

[13107636 rows x 3 columns]

In [18]:
df.to_csv('ProcessedURLTokens.csv')